/* Start Global Style */
* {
    box-sizing: border-box;
  }
  html
  {
      scroll-behavior: smooth;
  }
  body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  .container {
    width: 85%;
    margin: auto;
  }
  
  .clear-fix {
    clear: both;
  }
  
  button {
    font-family: inherit;
  }
  
  .title {
    color: rgb(231, 76, 60);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  section {
    background-color: #f9f9f9;
    padding: 50px;
  }
  img {
    width: 100%;
  }
  
  /* End Global Style */
  
  /* Start Navbar */
  nav {
    background-color: #2c3e50;
    padding: 25px 0;
  }
  
  nav ul {
    float: right;
    margin: 0;
  }
  nav ul li {
    float: left;
    margin: 0 15px;
    margin-top: 10px;
  }
  nav ul li a {
    color: white;
  }
  nav ul li a:hover {
    color: rgb(241, 196, 15);
  }
  nav .logo {
    color: rgb(241, 196, 15);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* End Navbar */
  
  /* Start Hero Section */
  #heroSection {
    height: 100vh;
    background-image: url(../images/HeroSection.png);
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: relative;
  }
  
  #heroSection::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  #heroSection .text {
    text-align: center;
    margin-top: 200px;
    color: white;
    position: relative;
    z-index: 1;
  }
  #heroSection .text h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  #heroSection .text p {
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
  }
  #heroSection .text button {
    font-weight: 700;
    padding: 15px 25px;
    border: none;
    color: white;
    background-color: #e74c3c;
    border-radius: 5px;
    font-size: 1rem;
  }
  #heroSection .text button:hover {
    cursor: pointer;
    background-color: #e67e22;
  }
  
  /* End Hero Section */
  
  /* Start Our Story */
  #about 
  {
    padding-top: 80px;
  
  }
  #about .content .text {
    float: left;
    width: 45%;
    margin-top: 100px;
  }
  #about .content .image {
    float: right;
    width: 45%;
    border-radius: 7px;
  }
  #about .content .image img {
    border-radius: inherit;
  }
  
  /* End Our Story */
  
  /* Start Menu */
  #menu .content .box {
    width: calc(100% / 3);
    float: left;
    padding: 15px;
  }
  #menu .content .box img {
    height: 250px;
  }
  #menu .content .box > div {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    border-radius: 10px;
    height: 480px;
  }
  #menu .content .box > div img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

  }
  #menu .content .box > div .text {
    padding-left: 10px;
  }
  
  #menu .content .box > div h3 {
    color: rgb(231, 76, 60);
    font-size: 1.2rem;
  }
  #menu .content .box > div span {
    color: rgb(230, 126, 34);
    font-weight: 700;
  }
  #menu .content .box > div p {
    color: rgb(44, 62, 80);
  }
  #menu .box {
    transition: var(--transition);
  }
  #menu .box :hover {
    transform: translateY(-15px);
  }
 #menu .box img{
    transition: var(--transition);
  }
   #menu .box :hover img {
     transform: scale(1);
   } 
    #menu .box :hover p {
     transform: scale(1);
   }
     #menu .box :hover h3 {
     transform: scale(1);
   }
     #menu .box :hover .text {
     transform: scale(1);
   }
 
  /* End Menu */
  
  /* Start VisitUs */
  
  
   #visitUs .box {
    float: left;
    width: calc(100% / 3);
    padding: 0 15px;
  }
  #visitUs .box > div {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 150px;
    border-radius: 10px;
  }
  #visitUs .box > div h3 {
    color: rgb(231, 76, 60);
  }
  #visitUs .box > div p
  {
      color: rgb(44, 62, 80);
  }
  /* End VisitUs */
  
  /* Start Footer */
  #footer
  {
      background-color: #2C3E50;
      color: white;
      padding: 30px 0;
      text-align: center;
  }
  #footer p
  {
      margin: 0;
  }
  #visitUs .box {
    transition: var(--transition);
  }
  #visitUs .box :hover {
    transform: translateY(-15px);
  }
    #visitUs .box :hover p {
     transform: scale(1);
   }
     #visitUs .box :hover h3 {
     transform: scale(1);
   }
     #visitUs .box :hover .box {
     transform: scale(1);
   }
  /* End Footer */